apparmor==2.13.4
appdirs==1.4.4
application-utility==1.3.2
arrow==0.15.7
art==4.7
autopep8==1.5.3
b2sdk==1.1.2
b64==0.4
beautifulsoup4==4.9.1
bs4==0.0.1
btrfsutil==1.2.0
CacheControl==0.12.6
cached-properties==0.7.1
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
coloredlogs==14.0
commonmark==0.9.1
contextlib2==0.6.0.post1
cupshelpers==1.0
distlib==0.3.0
distro==1.5.0
docopt==0.6.2
fastapi==0.59.0
flake8==3.8.3
flake8-docstrings==1.5.0
funcsigs==1.0.2
h11==0.9.0
html5lib==1.0.1
httptools==0.1.1
humanfriendly==8.2
idna==2.9
keyutils==0.6
LibAppArmor==2.13.4
logfury==0.1.2
louis==3.14.0
lxml==4.5.1
mariadb==1.0.0
mccabe==0.6.1
msgpack==1.0.0
netifaces==0.10.9
npyscreen==4.10.5
openpyn==2.7.5
ordered-set==3.1.1
packaging==20.4
pacman-mirrors==4.16.4
pep517==0.8.2
Pillow==6.2.1
pprintpp==0.4.0
progress==1.5
pwquality==1.4.2
pycairo==1.19.1
pycodestyle==2.6.0
pycups==2.0.1
pycurl==7.43.0.5
pydantic==1.6
pydocstyle==5.0.2
pyflakes==2.2.0
Pygments==2.6.1
PyGObject==3.36.1
pyparsing==2.4.7
pyperclip==1.8.0
PyQt5==5.15.0
PyQt5-sip==12.8.0
pysmbc==1.0.20
python-dateutil==2.8.1
python-libtorrent==1.2.6
python-nmap==0.6.1
python-slugify==4.0.1
pytoml==0.1.21
PyYAML==5.3.1
rados==2.0.0
rbd==2.0.0
reportlab==3.5.42
requests==2.23.0
retrying==1.3.3
rgw==2.0.0
rich==3.2.0
scapy==2.4.3
selenium==3.141.0
sip==4.19.22
six==1.15.0
snowballstemmer==2.0.0
soupsieve==2.0.1
starlette==0.13.4
team==1.0
text-unidecode==1.3
toml==0.10.1
tqdm==4.47.0
typing-extensions==3.7.4.2
udiskie==2.2.0
urllib3==1.25.9
uvicorn==0.11.5
uvloop==0.14.0
verboselogs==1.7
webencodings==0.5.1
websockets==8.1
wikipedia==1.4.0
